/* Base resets and coding styles */
* {
  box-sizing: border-box;
}

/* Reset, then apply main body font */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: var(--base-dark, #060017);
  min-height: 100vh;
  color: var(--text-color, #f5faff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
